<html>
<head>
</head>
<marquee direction = "left to right ">Online Medicine System</marquee>
<img src="https://masolution.in/images/products/banner-3.jpg" >
<BODY style="background-color: grey" >
<h2><font color="red"> ABOUT US:- </font></H2>
Online care or an e-visit is a way of obtaining medical care for problems which do not require a physical examination and which do not require treatment beyond a prescription available online or diagnostic tests beyond blood tests.
<br><br><br><br><tr><th></th></tr>
</BODY>
</HTML>