<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/styles.css" /> 
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    function forgetValidate(){
    var un = document.getElementById('lu');
    var pw = document.getElementById('lp');
    var cw = document.getElementById('cp');
    var pos = un.value.indexOf("@gmail.com");
    var len = pw.value.length;
    var len1= cw.value.length;
    if(un.value == "" || pw.value == ""){
        swal("Login Failed", "Please check all the fields are entered or not","error");
        un.style.borderColor = "red"; 
        pw.style.borderColor = "red"; 
        if(un.value!=""){
            un.style.borderColor = "green"; 
        }
        if(pw.value!=""){
            pw.style.borderColor = "green"; 
        }
    }
    else if(pos==-1){
        swal("Email error", "Please enter a valid email which has @gmail.com ","error");
        un.style.borderColor = "red";
        pw.style.borderColor = "black";
    }
    else if(len<8){
        swal("Password error", "Please enter a Password which is more than 8 characters","error");
        un.style.borderColor = "green";
        pw.style.borderColor = "red";
    }
    else if(pw.value != cw.value){
        swal("Confirmation Password error ", "Please make sure that you enter the password and confirm password is to be same.","error");
        pw.style.borderColor = "green";
        cw.style.borderColor = "red";
    }
    else if(un.value != "" || pw.value != ""){
        swal("Password Changed Successfully");
        un.style.borderColor = "green"; 
        pw.style.borderColor = "green";
        cw.style.borderColor = "green"; 
    }
}
  </script>
</head>
<body>
<form action="forget" method="post">

<center><h3>Reset Password</h3></center>
  <div class="loginbox">
    <h3>Registered Email ID :</h3>
    <input id="lu" type="text" placeholder="Enter Email ID" name="email"><i class="fas fa-check-circle"></i>
    <h3>Password</h3>
    <input id="lp" type="password" placeholder="Enter Password" name="cpass">
    <h3> Confirm Password</h3>
    <input id="cp" type="password" placeholder="Confirm Password" name="repass">
    <button type="submit" class="loginbut" onclick="forgetValidate()">Reset Confirm</button><br><br>    
  </div>
  </form>
</body>
</html>
