<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Dobro dosli u najbolji kafic na svetu">
    <meta name="keywords" content="Kafic">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Home page</title>
</head>
<body>
 <header>
        <nav id="navbar">
        <div class="container">
                <h1 class="logo"><a href="index.html">Medico</a></h1>
                <ul>
                    <li><a class="current" href="home.html">Home</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="contactus.html">Contact Us</a></li>
                    <li><a href="Login.html">Logout</a></li>
                </ul>
              </div>
            </nav>  
        
         <div id="showcase">
           <div class="container">
               <div class="showcase-content">
                   <h1><span class="text-primary">E-Health</span>Care</h1>
               </div>
           </div>
         </div>   
    </header>
    <!............ Types.............>
    
  <section id="home-info" class="bg-dark">
        <div class="info-img-1"></div>
        <div class="info-content">
          <h2><span class="text-primary">Orthopedic</span></h2>
          <a href="ortho.html" class="btn btn-light">Explore</a>
        </div>
      </section>
 
 <!.....................Type-2..................>
 
 <section id="home-info" class="bg-dark">
        <div class="info-img-2"></div>
        <div class="info-content">
          <h2><span class="text-primary">Neurology</span></h2>
          <a href="neuro.html" class="btn btn-light">Explore</a>
        </div>
      </section>
      
      
      
<!............................Type-3......................>


<section id="home-info" class="bg-dark">
        <div class="info-img-3"></div>
        <div class="info-content">
          <h2><span class="text-primary">Cardiology</span></h2>
          <a href="cardio.html" class="btn btn-light">Explore</a>
        </div>
      </section>
      
</body>
</html>